/* Styling the Body */
body {                         
    font-family: 'Lexend';
}


/* Styling the Heading text */
h1{                            
    font-size: 80px;            
    text-align: center;         
    color: #fff;              
    margin-top: 80px;
}


/* Styling for the container holding the cards */
.container {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    margin-top: 0px;           
}

/* Styling for individual cards */
.cards {
    position: relative;         
    width: 200px;               
    height: 300px;              
    margin: 0 40px;             
    overflow: hidden;           
    transition: all 0.4s ease;  
    border-radius: 5px;        
}


/* Styling for the hover effect on cards */
.cards:hover {
    transform: scale(1.3);     
    transition: 0.3s;           
}

/* Styling for the images inside the cards */
.cards img {
    width: 100%;                
    height: 100%;               
    object-fit: cover;         
}

/* Styling for the text overlay at the bottom of the cards */
.text {
    position: absolute;
    margin: none;               
    bottom: 0;                  
    left: 0;                    
    padding: 20px;              
    color: #fff;             
    transition: opacity 0.4s ease;  
}

/* Styling the text when hover in cards */
.cards:hover .text {
    opacity: 1;                               
    background-color: rgba(0, 0, 0, 0.3);   
    width: 100%;                             
    transition: opacity 0.4s ease;            
}

/* Styling for the heading inside the text overlay */
.text h3 {
    margin: 0;                           
    font-size: 25px;                    
    font-weight: 600;                    
    opacity: 1;                          
    transition: opacity 0.4s ease;       
}

/* Styling for the paragraph inside the text overlay */
.text p {
    margin: 10px 0 0;                    
    font-weight: 300;                    
    font-size: 16px;                     
    opacity: 0;                          
    transition: opacity 0.4s ease;       
}

/* Styling for the paragraph inside the text overlay when hovering over the cards */
.cards:hover .text p {
    opacity: 1;                          
}

/* Styling the video */
#myVideo {
    position: absolute;      
    right: 0;                
    bottom: 0;               
    min-width: 100%;        
    min-height: 100%;        
    z-index: -1;             
    filter: brightness(0.7);                                
}

html{
    scroll-behavior: smooth;
}