header {
	background-color: #ffffff;
	color: #fff;
	position: fixed;
	top: 0px;
	height: 65px;
	left: 0;
	width: 100%;
	z-index: 1000;
}


.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	height: 100%;
	margin: 0;
	position: relative;
	bottom: 20px;
	letter-spacing: 4px;
	font-weight: 700;
	color: #000;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 45px;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar li {
	margin-right: 20px;
}

.navbar a {
	text-decoration: none;
	padding: 25px 50px;
	border-radius: 5px;
	position: relative;
	bottom: 15px;
	font-family: lexend;
	cursor: pointer;
}


.navlistbtn {
	color: grey;
	cursor: pointer;
	font-weight: 400;
}

.navlistbtn:hover{
	cursor: pointer;
	color: #000; 
}

/* Footer */
body{
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.container2{
	max-width: 1170px;
	margin:auto;
	margin-bottom: 0px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0px;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
	padding: 40px 0;
	width: 100%;
	margin-bottom: 0px;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-family:'Lexend', sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-col ul li{
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-family: 'Lexend', sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-content p{
	font-family: 'Lexend', sans-serif;
}
.footer-content .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	margin:5px 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	position: relative;
	top:20px ;
	margin-bottom: 10px;
}

.footer-content{
	font-family:'Lexend', sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;

}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
	width: 50%;
	margin-bottom: 30px;
}
}

@media(max-width: 574px){
.footer-col{
	width: 100%;
}
}